<div class="row">
	<div class="col-md-4">
		<!-- Profile -->
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3" ng-show="me.auth"><img ng-src="{{getProfileURL(me.auth.facebook.id)}}" class="img-responsive pic" alt="Profile picture"></div>
					<div class="col-md-9 col-sm-3 col-xs-3">
						<h3 class="panel-title">{{me.auth.facebook.name}}</h3>
						<div class="btn-group btn-group-xs">
							<button type='button' ng-click="logout()" class="btn btn-warning"><i class="fa fa-sign-out"></i> LogOut</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<p>You have <b>{{me.tasks.length}}</b> tasks in <b>{{me.lists.length}}</b> lists.</p>
				<button class="btn btn-success btn-block" ng-click="createNewTask()"><i class="fa fa-pencil-square-o"></i> Create a task</button>
				<hr>
				<h4 class='text-center'>Lists</h4>
				<!-- Add list -->
				<div class="input-group" ng-show="creatingNewList">
					<input type="text" class="form-control" ng-model="newList" placeholder="New list name">
					<span class="input-group-btn">
						<button class="btn btn-default" ng-disabled="!creatingNewList || !newList.length" ng-click="sendNewList()" type="button">Create</button>
					</span>
				</div>
				<br>
				<!-- List of Lists -->
				<div class="list-group">
					<a class="list-group-item" ng-click="creatingNewList = !creatingNewList"><i class="fa fa-plus"></i> <b>Create a list</b></a>
					<a class="list-group-item" ng-repeat="list in me.lists" ng-class="{active: (list._id === search.list._id)}" ng-click="openList(list)"><b>{{list.name}}</b><span class="badge">{{countTasks(list._id)}}</span></a>
				</div>
				<!-- List of Tags -->
				<hr>
				<h4 class='text-center'>Tags</h4>
				<a class="btn btn-default btn-sm tag" ng-repeat="tag in tags" ng-class="{active: (tag._id === search.tag._id)}" ng-click="findTags(tag)"><b>{{tag.name}}</b></a>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<!-- Content -->
		<div ng-include="currentTemplate"></div>
	</div>
</div>