<!-- Opened list -->
<!-- List name -->
<header class="list-header">
	<h3>
	<span ng-hide="listEdit.edit"><i class="fa fa-list-ul"></i> {{searchList.name}}</span>
	<span ng-show="searchList._id.length && !listEdit.edit">
		<div class="btn-group  btn-group-sm">
			<a type="button" class="btn btn-info" ng-click="listEdit.start()"><i class="fa fa-pencil-square-o"></i></a>
			<a type="button" class="btn btn-warning" ng-click="sendDeleteList()"><i class="fa fa-trash-o"></i></a>
		</div>
	</span>
	</h3>
	<!-- Changing list name -->
	<div class="input-group" ng-show="listEdit.edit">
		<input type="text" class="form-control" ng-model="listEdit.newName" placeholder="List name">
		<span class="input-group-btn">
			<button class="btn btn-success" ng-disabled="!listEdit.edit || !listEdit.newName.length || (listEdit.newName === searchList.name)" ng-click="listEdit.send()" type="button">Change name</button>
			<button class="btn btn-info" ng-disabled="!listEdit.edit" ng-click="listEdit.edit = false" type="button">Done</button>
		</span>
	</div>
</header>
<div class="row list">
	<!-- Userlist -->
	<div class="user-list" ng-show="searchList._id">
		<h5>Who uses this list:</h5>
		<p><span ng-repeat="listUser in searchList.users" class="thumbnail user-list-item col-md-1 col-sm-1 col-xs-2">
			<img ng-show="listUser.auth" class="img-responsive pic user-list-image" ng-src="{{getProfileURL(listUser.auth.facebook.id)}}" ng-alt="{{listUser.auth.facebook.name}}"  data-toggle="tooltip" tabindex="50" data-placement="top" title="{{listUser.auth.facebook.name}}">
		</span>
		<button type="button" class="btn btn-info share-btn" data-toggle="modal" data-target="#invite-modal"><i class="fa fa-user-plus"></i></button>
		</p>
	</div>
	<div>
		<!-- Tasks -->
		<!-- not done tasks -->
		<div class="list-group">
			<a class="list-group-item" ng-repeat="task in me.tasks | orderBy:['-priority'] | filter: search | filter: {done: false}" ng-class="{active: (task._id === taskDetails._id)}" ng-click="selectTask(task)">
				<h4 class="list-group-item-heading">
				<i class="fa fa-circle" ng-style="{'color': (countPriorityColor(task.priority))}"></i> {{task.name}}
				<div class="btn-group btn-group-sm" ng-show='task._id === taskDetails._id'>
					<button role="button" class="btn" ng-click="sendCompleteTask(task)">Done</button>
					<button role="button" class="btn btn-primary" ng-click="editTask(task)"><i class="fa fa-edit"></i></button>
					<button role="button" class="btn btn-danger" ng-click="sendDeleteTask(task)"><i class="fa fa-trash-o"></i></button>
				</div>
				</h4>
				<div ng-show='task._id === taskDetails._id' class="list-group-item-text">
					<p>{{task.description}}</p>
					<div ng-show='task._id === taskDetails._id'>
						<hr>
						Tags: <span class="label label-primary tag" ng-repeat="tag in task.tags">{{tag.name}}</span>
					</div>
				</div>
			</a>
		</div>
		<hr>
		<div class="list-group">
			<a class="list-group-item" ng-repeat="task in me.tasks | orderBy:['-priority'] | filter: search | filter: {done: true}" ng-class="{active: (task._id === taskDetails._id)}" ng-click="selectTask(task)">
				<h4 class="list-group-item-heading">
				<i class="fa fa-check-circle done-circle"></i>
				<span class="done">{{task.name}}</span>
				<div class="btn-group btn-group-sm" ng-show='task._id === taskDetails._id'>
					<button role="button" class="btn" ng-click="sendCompleteTask(task)">UnDone</button>
					<button role="button" class="btn btn-primary" ng-click="editTask(task)"><i class="fa fa-edit"></i></button>
					<button role="button" class="btn btn-danger" ng-click="sendDeleteTask(task)"><i class="fa fa-trash-o"></i></button>
				</div>
				</h4>
				<div ng-show='task._id === taskDetails._id' class="list-group-item-text">
					<p>{{task.description}}</p>
					<div ng-show='task._id === taskDetails._id'>
						<hr>
						Tags: <span class="label label-primary tag" ng-repeat="tag in task.tags">{{tag.name}}</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="modal fade" id="invite-modal" tabindex="-1" role="dialog" aria-labelledby="invite-modal-label">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add your Facebook friends to this list</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div ng-repeat="f in me.friends | filter: searchInvite" class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img class="img-responsive pic user-list-image" ng-src="{{getProfileURL(f.id)}}" ng-alt="{{f.name}}">
							<div class="caption text-center">
								<h3>{{f.name}}</h3>
								<p><button class="btn btn-success btn-block" role="button" ng-enabled="searchInvite(f.id)" ng-click="sendInvite(f.id)">Add</button></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$(document).ready(function(){
	$(function() {
	    $('[data-toggle=tooltip]').tooltip({
	        trigger: 'hover',
	        container: 'body'
	    })
	});
	$("[rel=tooltip]").tooltip({ placement: 'right'});
	$("[data-toggle='popover']").popover();
	$("body").tooltip({ selector: '[data-toggle=tooltip]' });
});
</script>