<div class="panel panel-default">
	<div class="panel-body">
		<p>You have <b>{{me.tasks.length}}</b> tasks in <b>{{me.lists.length}}</b> lists.</p>
		<button class="btn btn-success btn-block" ng-click="createNewTask()"><i class="fa fa-pencil-square-o"></i> Create a task</button>
		<hr>
		<!-- List of Lists -->
		<h4 class='text-center'>Lists</h4>
		<!-- Add list -->
		<div class="input-group" ng-show="newList.on">
			<input type="text" class="form-control" ng-model="newList.name" placeholder="New list name">
			<span class="input-group-btn">
				<button class="btn btn-default" ng-disabled="!newList.on || !newList.name.length" ng-click="newList.send()" type="button">Create</button>
			</span>
		</div>
		<br>
		<div class="list-group">
			<a class="list-group-item" ng-click="newList.toggle()"><i class="fa fa-plus"></i> <b>Create a list</b></a>
			<a class="list-group-item" ng-repeat="list in me.lists" ng-class="{active: (list._id === search.list._id)}" ng-click="openList(list)"><b>{{list.name}}</b><span class="badge">{{countTasks(list._id)}}</span></a>
		</div>
		<!-- List of Tags -->
		<hr>
		<h4 class='text-center'>Tags</h4>
		<a class="btn btn-default btn-sm tag" ng-repeat="tag in tags" ng-class="{active: (tag._id === search.tag._id)}" ng-click="findTags(tag)"><b>{{tag.name}}</b></a>
	</div>
</div>