body {
	margin:0px;
	padding:0px;
	word-wrap: break-word;
}
.home-container {
	padding-top: 100px;
}
.list-header {
	margin-bottom: 20px;
}
.list {
	margin-left:5px;
	margin-right:5px;
}
.pic {
	border-radius: 10%;
}
.user-list {
	margin-bottom:20px;
}
.user-list-item {
	margin-right:10px;
	max-width: 50px;
}
.user-list-image {
}
.navbar-text {
	margin-left: 20px
}
.done {
	text-decoration: line-through;
	color: Grey;
}
.done-circle {
	color: gray;
}
.task {
	text-decoration: underline;
}
.tag {
	margin:3px;
}
.loading {
	text-align: center;
	margin:0px;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0.5;
	z-index: 5;
}
.loading-message {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.blur {
	-webkit-filter: blur(10px);
  	-moz-filter: blur(10px);
  	-o-filter: blur(10px);
  	-ms-filter: blur(10px);
  	filter: blur(10px);
}